[mergetool]
    keepBackup = false

[merge]
    tool = nvimdiff

[user]
    email = tejomaygadgil@gmail.com
    name = Tejomay Gadgil

[core]
	editor = nvim

[maintenance]
	repo = /home/tejomay/workspace/notes

[pull]
	rebase = true
